body {
    font-family: Arial, sans-serif;
    background-color: #E3F2FD;
    text-align: center;
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    max-width: 700px;
    background: #FFFFFF;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-top: 25px;
    border-top: 5px solid #2196F3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.left, .right {
    width: 48%;
}
.left {
    text-align: center;
}
h2 {
    color: #0D47A1;
    text-shadow: 2px 2px rgb(136, 179, 243);
}
input[type="file"] {
    height: 16px;
}
select {
    width: 320px;
    padding: 8px;
    margin: 5px 0;
    border: 2px solid #90CAF9;
    border-radius: 10px;
    outline: none;
    background: #F0F8FF;
    font-size: 14px;
}
input {
    width: 300px;
    padding: 8px;
    margin: 5px 0;
    border: 2px solid #90CAF9;
    border-radius: 10px;
    outline: none;
    background: #F0F8FF;
    font-size: 14px;
}
.btn-container {
    display: flex;
    margin-top: 15px;
}
.btn {
    width: 44%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.btn-update {
    background: #2196F3;
    color: white;
    margin-left: 10px;
}
.btn-update:hover {
    background: #1976D2;
}
.btn-back {
    background: #B0BEC5;
    color: black;
    margin-left: 18px;
}
.btn-back:hover {
    background: #90A4AE;
}
img {
    width: 97px;
    height: 97px;
    border-radius: 50%;
    border: 3px solid #2196F3;
    object-fit: cover;
}
label {
    font-weight: bold;
    color: #0D47A1;
    display: block;
    text-align: left;
    margin-top: 10px;
}
@media (max-width: 600px) {
    .left, .right {
        width: 100%;
    }
}