.table-container {
    max-height: 375px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
th {
    background: #007bff;
    color: white;
    position: sticky;
    top: 0;
}
.themnguoidung {
    background: none;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 12px;
    transition: background 0.3s, color 0.3s;
}
.themnguoidung:hover {
    background-color: #ffffff;
    color: #007BFF;
}
.themnguoidung i {
    color: #ffffff;
}
.themnguoidung:hover i {
    color: #007BFF;
}
.action-icon {
    display: inline-block;
    padding: 8px;
    font-size: 18px;
    transition: transform 0.2s ease, color 0.3s ease;
    text-decoration: none;
}

.edit {
    color: #28a745; /* Màu xanh */
}

.edit:hover {
    color: #218838;
    transform: scale(1.2);
}

.delete {
    color: #dc3545; /* Màu đỏ */
    margin-left: 10px;
}

.delete:hover {
    color: #c82333;
    transform: scale(1.2);
}